# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\kri\СТПИС2\music-shop-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
